@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buy-modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  animation: opacityAnimation 0.2s ease-in-out;
}

.buy-modal_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px;
  width: 50%;
  height: 60%;
  border: 3px solid rgb(40, 40, 40);
  background-color: #000000;
  color: #ffffff;
}

.buy-modal_content-title {
  font-size: 24px;
}

.buy-modal_content-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.buy-modal_content-form input {
  height: 30px;
  padding: 8px;
  font-size: 16px;
}

.buy-modal_content-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buy-modal_content-description_photo {
  width: 20%;
}

.buy-modal_content-description_text {
  padding: 8px;
  width: 70%;
  font-size: 20px;
}

.buy-modal_content-description_photo img {
  height: 164px;
}

.buy-modal_content-confirm-btn {
  border: 1px solid #fff;
  padding: 4px 8px;
  align-self: flex-end;
  transition: .25s;
}

.buy-modal_content-confirm-btn:hover {
  cursor: pointer;
  transition: .3s;
  background-color: #1e1e1e;
}

.buy-modal_content-confirm-btn:active {
  transition: .3s;
  background-color: #ffffff;
  color: #000000;
}

.buy-modal_close-icon {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: .25s;
  color: #ffffff;
}

.buy-modal_close-icon:hover {
  color: rgb(94, 94, 94);
}