@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.catalog {
  padding: 120px 0 20px;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 760px;
}

.catalog_category {
  font-size: 20px;
}

.catalog_subcategory {
  font-size: 16px;
  margin-left: 24px;
}

.catalog_subcategory:hover {
  cursor: pointer;
  transition: .3s;
  opacity: 0.8;
}

.catalog_subcategory.active {
  color: red;
}

.catalog_title {
  align-self: flex-start;
  font-size: 28px;
  padding: 12px 38px;
}

.catalog_wrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog_search-panel {
  width: 30%;
}

.catalog_search-panel_input {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.catalog_search-panel_btn {
  cursor: pointer;
  transition: .25s;
}

.catalog_search-panel_btn:hover {
  opacity: 0.8;
  transition: .3s;
}

.catalog_search-panel_btn:active {
  color: #9e9e9e;
}

.catalog_search-panel input {
  padding: 0 12px;
  height: 32px;
  width: 90%;
}

.catalog_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  align-items: flex-start;
  justify-content: space-between;
}

.top-goods_item-content-no_photo {
  height: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog_search-panel_filter span {
  font-size: 24px;
}

.catalog_search-panel_filter ul {
  list-style: none;
}

.catalog_search-panel_filter ul li {
  padding: 8px;
  transition: .25s;
}

.catalog_search-panel_filter ul li:hover {
  cursor: pointer;
}

.filter-active {
  color: rgba(255, 0, 0, 0.85);
}

.catalog-no-results {
  color: #ffffff;
}

@media (max-width: 768px) {
  .catalog_content {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .catalog_wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .catalog_search-panel {
    width: 100%;
  }

  .catalog_search-panel input {
    width: 100%;
  }

  .catalog_search-icon {
    display: none;
  }

  .catalog_search-panel_filter {
    padding-bottom: 12px;
    text-align: center;
  }

  .catalog_search-panel_input {
    width: 100%;
  }

  .catalog_search-panel_filter span {
    align-self: center;
  }

  .catalog_title {
    align-self: center;
  }
}