.advantages {
  padding: 12px 0;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.advantages_title {
  font-size: 24px;
  padding: 4px 60px 32px;
  align-self: flex-start;
}

.advantages_content {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advantages_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 128px;
  transition: .25s;
  border-radius: 10px;
  font-size: 48px;
}

.advantages_item:hover {
  cursor: pointer;
  transition: .3s;
  padding-bottom: 5px;
  box-shadow: 0 1px 20px 3px rgb(27, 27, 27);
}

.advantages_item span {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 100;
}

.advantages_item svg {
  stroke: black;
  font-size: 48px;
}