.delivery {
  position: relative;
  width: 100%;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

#delivery {
  position: absolute;
  top: -90px;
}

.delivery_wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 26px;
}

.delivery_title {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0;
}

.delivery_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delivery_content div {
  height: 320px;
  padding: 0 12px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.delivery_content div span {
  padding: 8px 0;
}