.header {
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  padding: 0 40px;
}

.header_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header_logo img {
  width: 3rem;
}

.header_logo-text {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header_logo-text-title {
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.header_menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.header_menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: justify-all;
}

.active-menu-item {
  padding-top: 3px;
  border-bottom: 3px solid #ffffff;
}