.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  padding: 0 40px;
}

.header_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header_logo img {
  width: 3.75rem;
}

.header_logo-text {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header_logo-text-title {
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.header_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.header_menu-item {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.active-menu-item {
  color: #cbcbcb;
}