@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;700&display=swap');

* {
  user-select: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /*scroll-behavior: smooth;*/
}

a {
  text-decoration: none;
  color: #ffffff;
}