.contacts_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0 0;
  background-color: rgb(30, 30, 30);
  color: #ffffff;
}

.contacts {
  height: 100%;
  max-width: 1200px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts_contacts-block {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts_contacts-block div:nth-child(2n + 1) {
  padding: 16px 0;
}

.contacts_contacts-block input {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  height: 32px;
  width: 70%;
  padding: 4px 8px;
}

.contacts_contacts-block_email {
  display: flex;
  margin-top: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts_contacts-block_email_subscribe {
  padding: 4px 12px;
  border: 1px solid #ffffff;
  transition: 0.35s;
  background-color: #000000;
}

.contacts_contacts-block_email_subscribe:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  transition: .3s;
}

.contacts_social-media_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts_social-media_content span {
  padding: 24px 0;
}

.contacts_social-media {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.contacts_social-media-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  transition: .3s;
}

.contacts_social-media-icon {
  width: 24px;
  height: 24px;
}

.contacts_social-media-icon svg {
  font-size: 20px;
  transition: .25s;
}

.contacts_social-media-icon svg:hover {
  font-size: 24px;
  cursor: pointer;
  transition: .3s;
}

.contacts_social-media-icon svg:active {
  color: #9e9e9e;
}

.contacts_social-media-icon span {
  padding: 0 12px;
  text-align: left;
}